<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="none" >
    <listeners>
        <listener class-name="listeners.PropertyListener"/>
    </listeners>
    <test name="LoginAndAddPost">
        <classes>
            <class name="LoginAndAddPost"/>
        </classes>
    </test>
</suite>
